<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="FeaturesFragment">
	<Property  Id='FeaturesFragment' Value='1'/>
		<Feature Id="FW_Core" Title="FieldWorks" Description="FieldWorks Language Explorer (FLEx)" Display="expand" Level="3" AllowAdvertise="no">
			<ComponentRef Id="CreateProjectsFolder"/>
			<ComponentRef Id="CreateIcuFolder"/>
			<ComponentRef Id="CopyLicenseTechReadme"/>
			<ComponentRef Id="vs_piaredist.exe"/>
			<ComponentRef Id="MigrateSqlDbs.exe"/>
			<ComponentRef Id="FLExBridgeInstaller.msi"/>
			<ComponentRef Id="ChorusHubInstaller.msi"/>
			<ComponentRef Id="FieldWorks.exe"/>
			<ComponentRef Id="Quivira.ttf"/>
			<ComponentRef Id="FwPath"/>
			<ComponentRef Id="RegLangPack"/>
			<ComponentRef Id="RegRootCodeDir"/>
			<ComponentRef Id="RegProjectsDir"/>
			<ComponentRef Id="RegInitIcu"/>
			<ComponentRef Id="RegisterICUFolder"/>
			<ComponentRef Id="RegDotNetCategory"/>
			<ComponentRef Id="ShortcutMorphIntro"/>
			<ComponentRef Id="ShortcutLicense"/>
			<ComponentRef Id="ShortcutTechSupport"/>
			<ComponentRef Id="ShortcutUnicodeCharEditor"/>
			<ComponentRef Id="UnregFlex"/>
			<ComponentRef Id="DeskShortcutFlex"/>
			<ComponentRef Id="DelOldDeskShortcutFlex"/>
			<ComponentRef Id="ShortcutFlex"/>
			<ComponentRef Id="ShortcutFlexHelp"/>
			<MergeRef Id="ATL"/>
			<MergeRef Id="CRT"/>
			<MergeRef Id="CRT90"/>
			<MergeRef Id="MFC"/>
			<MergeRef Id="PerlEC"/>
			<MergeRef Id="PythonEC"/>
			<MergeRef Id="EncConverters_Common"/>
			<MergeRef Id="Set_Path_EC"/>
			<MergeRef Id="TECkit_DLLs"/>
			<MergeRef Id="CC_DLL"/>
			<MergeRef Id="ICUECHelp"/>
			<Feature Id="FlexMovies" Title="Demo Movies" Description="Language Explorer demonstration movies" Display="expand" Level="0" AllowAdvertise="no">
				<Condition Level="3">(FLEX_MOVIES_CAB1_FOUND AND FLEX_MOVIES_CAB2_FOUND AND FLEX_MOVIES_CAB3_FOUND) OR REMOVE</Condition>
			</Feature>
			<Feature Id="LOC" Title="Language Packs" Description="Additional languages for the user interface." Display="expand" Level="3" AllowAdvertise="no">
				<Feature Id="Indonesian" Title="Indonesian" Description="Allows the software to have an Indonesian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1057 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Malay" Title="Malay" Description="Allows the software to have a Malay user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1086 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Chinese" Title="Chinese" Description="Allows the software to have a Chinese user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 3076 OR UserLanguageID = 5124 OR UserLanguageID = 2052 OR UserLanguageID = 1028 OR REMOVE</Condition>
				</Feature>
				<Feature Id="French" Title="French" Description="Allows the software to have a French user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1036 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Hindi" Title="Hindi" Description="Allows the software to have a Hindi user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1081 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Hungarian" Title="Hungarian" Description="Allows the software to have a Hungarian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1038 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Kinyarwanda" Title="Kinyarwanda" Description="Allows the software to have a Kinyarwanda user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1048 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Korean" Title="Korean" Description="Allows the software to have a Korean user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1042 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Persian" Title="Persian" Description="Allows the software to have a Persian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1065 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Portuguese" Title="Portuguese" Description="Allows the software to have a Portuguese user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1046 OR UserLanguageID = 2070 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Russian" Title="Russian" Description="Allows the software to have a Russian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1049 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Spanish" Title="Spanish" Description="Allows the software to have a Spanish user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1034 OR UserLanguageID = 11274 OR UserLanguageID = 16394 OR UserLanguageID = 13322 OR UserLanguageID = 9226 OR UserLanguageID = 5130 OR UserLanguageID = 7178 OR UserLanguageID = 12298 OR UserLanguageID = 17418 OR UserLanguageID = 4106 OR UserLanguageID = 18442 OR UserLanguageID = 19466 OR UserLanguageID = 6154 OR UserLanguageID = 15370 OR UserLanguageID = 10250 OR UserLanguageID = 20490 OR UserLanguageID = 3082 OR UserLanguageID = 14346 OR UserLanguageID = 8202 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Telugu" Title="Telugu" Description="Allows the software to have a Telugu user interface." Display="expand" Level="4" AllowAdvertise="no">
				</Feature>
				<Feature Id="Turkish" Title="Turkish" Description="Allows the software to have a Turkish user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1055 OR REMOVE</Condition>
				</Feature>
				<Feature Id="Vietnamese" Title="Vietnamese" Description="Allows the software to have a Vietnamese user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1066 OR REMOVE</Condition>
				</Feature>
			</Feature>
		</Feature>
	</Fragment>
</Wix>
