<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="FeaturesFragment">
	<Property  Id='FeaturesFragment' Value='1'/>
		<Feature Id="FW_Core" Title="FieldWorks" Description="Files common to all FieldWorks applications" Display="expand" Level="3" AllowAdvertise="no">
			<ComponentRef Id="CreateFwFolder"/>
			<ComponentRef Id="CreateProjectsFolder"/>
			<ComponentRef Id="CopyLicenseTechReadme"/>
			<ComponentRef Id="vs_piaredist.exe"/>
			<ComponentRef Id="MigrateSqlDbs.exe"/>
			<ComponentRef Id="FLExBridgeInstaller.msi"/>
			<ComponentRef Id="FwRemoteDatabaseConnectorService.exe"/>
			<ComponentRef Id="EncConvertersAppDataMover40.exe"/>
			<ComponentRef Id="Quivira.ttf"/>
			<ComponentRef Id="FwPath"/>
			<ComponentRef Id="RegHyperLinks"/>
			<ComponentRef Id="RegFwBackupFiles"/>
			<ComponentRef Id="RegFwDbFiles"/>
			<ComponentRef Id="RegFwDataFiles"/>
			<ComponentRef Id="RegLangPack"/>
			<ComponentRef Id="RegRootCodeDir"/>
			<ComponentRef Id="RegProjectsDir"/>
			<ComponentRef Id="RegInitIcu"/>
			<ComponentRef Id="RegisterICUFolder"/>
			<ComponentRef Id="RegDotNetCategory"/>
			<ComponentRef Id="ShortcutMorphIntro"/>
			<ComponentRef Id="ShortcutLicense"/>
			<ComponentRef Id="ShortcutTechSupport"/>
			<ComponentRef Id="ShortcutUnicodeCharEditor"/>
			<MergeRef Id="ATL"/>
			<MergeRef Id="CRT"/>
			<MergeRef Id="CRT90"/>
			<MergeRef Id="MFC"/>
			<MergeRef Id="PerlEC"/>
			<MergeRef Id="PythonEC"/>
			<MergeRef Id="EncConverters_Common"/>
			<MergeRef Id="EcFolderACLs"/>
			<MergeRef Id="Set_Path_EC"/>
			<MergeRef Id="Managed_Install_Fix"/>
			<MergeRef Id="TECkit_DLLs"/>
			<MergeRef Id="CC_DLL"/>
			<MergeRef Id="ICUECHelp"/>
			<Feature Id="FLEx" Title="Language Explorer (FLEx)" Description="FieldWorks Language Explorer" Display="expand" Level="3" AllowAdvertise="no">
				<ComponentRef Id="UnregFlex"/>
				<ComponentRef Id="DeskShortcutFlex"/>
				<ComponentRef Id="DelOldDeskShortcutFlex"/>
				<ComponentRef Id="ShortcutFlexManual"/>
				<ComponentRef Id="ShortcutFlexInstructorGuide"/>
				<ComponentRef Id="ShortcutFlexExercises"/>
				<ComponentRef Id="ShortcutFlexIntroLex"/>
				<ComponentRef Id="ShortcutFlexImportSFMHelp"/>
				<ComponentRef Id="ShortcutFlexImportHelp"/>
				<ComponentRef Id="ShortcutFlexWriSys"/>
				<ComponentRef Id="ShortcutFlex"/>
				<ComponentRef Id="ShortcutFlexHelp"/>
				<Feature Id="FlexMovies" Title="Demo Movies" Description="Language Explorer demonstration movies" Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">(FLEX_MOVIES_CAB1_FOUND AND FLEX_MOVIES_CAB2_FOUND AND FLEX_MOVIES_CAB3_FOUND) OR REMOVE</Condition>
				</Feature>
			</Feature>
			<Feature Id="TE" Title="Translation Editor" Description="FieldWorks Translation Editor" Display="expand" Level="3" AllowAdvertise="no">
				<ComponentRef Id="ParatextProjectsFolder"/>
				<ComponentRef Id="RegScrChecks"/>
				<ComponentRef Id="DeskShortcutTE"/>
				<ComponentRef Id="DelOldDeskShortcutTE"/>
				<ComponentRef Id="ShortcutTE"/>
				<ComponentRef Id="ShortcutTEManual"/>
				<ComponentRef Id="ShortcutTEHelp"/>
				<ComponentRef Id="ShortcutTEMovies"/>
			</Feature>
			<Feature Id="SampleData" Title="Sample Data" Description="Leli-Teli and Sena databases useful for training and practice" Display="expand" Level="0" AllowAdvertise="no">
				<Condition Level="3">SAMPLE_DATA_CAB_FOUND OR REMOVE</Condition>
			</Feature>
			<Feature Id="LOC" Title="Language Packs" Description="Additional languages for the user interface." Display="expand" Level="3" AllowAdvertise="no">
				<Feature Id="Indonesian" Title="Bahasa Indonesia" Description="Allows the software to have an Indonesian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Feature Id="Indonesian_TE" Title="Indonesian_TE" Description="Indonesian user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Malay" Title="Bahasa Malaysia" Description="Allows the software to have a Malay user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Feature Id="Malay_TE" Title="Malay_TE" Description="Malay user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Bengali" Title="Bengali" Description="Allows the software to have a Bengali user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">BENGALI_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Bengali_TE" Title="Bengali_TE" Description="Bengali user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">BENGALI_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Chinese" Title="Chinese" Description="Allows the software to have a Chinese user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 3076 OR UserLanguageID = 5124 OR UserLanguageID = 2052 OR UserLanguageID = 1028</Condition>
					<Feature Id="Chinese_TE" Title="Chinese_TE" Description="Chinese user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
						<Condition Level="3">UserLanguageID = 3076 OR UserLanguageID = 5124 OR UserLanguageID = 2052 OR UserLanguageID = 1028</Condition>
					</Feature>
				</Feature>
				<Feature Id="French" Title="French" Description="Allows the software to have a French user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1036 OR REMOVE</Condition>
					<Feature Id="French_TE" Title="French_TE" Description="French user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Hindi" Title="Hindi" Description="Allows the software to have a Hindi user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Feature Id="Hindi_TE" Title="Hindi_TE" Description="Hindi user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Korean" Title="Korean" Description="Allows the software to have a Korean user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">KOREAN_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Korean_TE" Title="Korean_TE" Description="Korean user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">KOREAN_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Nepali" Title="Nepali" Description="Allows the software to have a Nepali user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">NEPALI_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Nepali_TE" Title="Nepali_TE" Description="Nepali user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">NEPALI_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Persian" Title="Persian" Description="Allows the software to have a Persian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1065 OR REMOVE</Condition>
					<Feature Id="Persian_TE" Title="Persian_TE" Description="Persian user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
						<Condition Level="3">UserLanguageID = 1065 OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Portuguese" Title="Portuguese" Description="Allows the software to have a Portuguese user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1046 OR UserLanguageID = 2070 OR REMOVE</Condition>
					<Feature Id="Portuguese_TE" Title="Portuguese_TE" Description="Portuguese user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
						<Condition Level="3">UserLanguageID = 1046 OR UserLanguageID = 2070 OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Russian" Title="Russian" Description="Allows the software to have a Russian user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1049 OR REMOVE</Condition>
					<Feature Id="Russian_TE" Title="Russian_TE" Description="Russian user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Spanish" Title="Spanish" Description="Allows the software to have a Spanish user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Condition Level="3">UserLanguageID = 1034 OR UserLanguageID = 11274 OR UserLanguageID = 16394 OR UserLanguageID = 13322 OR UserLanguageID = 9226 OR UserLanguageID = 5130 OR UserLanguageID = 7178 OR UserLanguageID = 12298 OR UserLanguageID = 17418 OR UserLanguageID = 4106 OR UserLanguageID = 18442 OR UserLanguageID = 19466 OR UserLanguageID = 6154 OR UserLanguageID = 15370 OR UserLanguageID = 10250 OR UserLanguageID = 20490 OR UserLanguageID = 3082 OR UserLanguageID = 14346 OR UserLanguageID = 8202 OR REMOVE</Condition>
					<Feature Id="Spanish_TE" Title="Spanish_TE" Description="Spanish user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
						<Condition Level="3">UserLanguageID = 1034 OR UserLanguageID = 11274 OR UserLanguageID = 16394 OR UserLanguageID = 13322 OR UserLanguageID = 9226 OR UserLanguageID = 5130 OR UserLanguageID = 7178 OR UserLanguageID = 12298 OR UserLanguageID = 17418 OR UserLanguageID = 4106 OR UserLanguageID = 18442 OR UserLanguageID = 19466 OR UserLanguageID = 6154 OR UserLanguageID = 15370 OR UserLanguageID = 10250 OR UserLanguageID = 20490 OR UserLanguageID = 3082 OR UserLanguageID = 14346 OR UserLanguageID = 8202 OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Telugu" Title="Telugu" Description="Allows the software to have a Telugu user interface." Display="expand" Level="4" AllowAdvertise="no">
					<Feature Id="Telugu_TE" Title="Telugu_TE" Description="Telugu user interface files just for TE." Display="hidden" Level="4" AllowAdvertise="no">
					</Feature>
				</Feature>
				<Feature Id="Turkish" Title="Turkish" Description="Allows the software to have a Turkish user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">TURKISH_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Turkish_TE" Title="Turkish_TE" Description="Turkish user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">TURKISH_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Vietnamese" Title="Vietnamese" Description="Allows the software to have a Vietnamese user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">VIETNAMESE_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Vietnamese_TE" Title="Vietnamese_TE" Description="Vietnamese user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">VIETNAMESE_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Kinyarwanda" Title="Kinyarwanda" Description="Allows the software to have a Kinyarwanda user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">KINYARWANDA_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Kinyarwanda_TE" Title="Kinyarwanda_TE" Description="Kinyarwanda user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">KINYARWANDA_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Thai" Title="Thai" Description="Allows the software to have a Thai user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">THAI_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Thai_TE" Title="Thai_TE" Description="Thai user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">THAI_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Khmer" Title="Khmer" Description="Allows the software to have a Khmer user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">KHMER_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Khmer_TE" Title="Khmer_TE" Description="Khmer user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">KHMER_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
				<Feature Id="Urdu" Title="Urdu" Description="Allows the software to have a Urdu user interface." Display="expand" Level="0" AllowAdvertise="no">
					<Condition Level="3">URDU_CAB_FOUND OR REMOVE</Condition>
					<Feature Id="Urdu_TE" Title="Urdu_TE" Description="Urdu user interface files just for TE." Display="hidden" Level="0" AllowAdvertise="no">
						<Condition Level="3">URDU_CAB_FOUND OR REMOVE</Condition>
					</Feature>
				</Feature>
			</Feature>
		</Feature>
	</Fragment>
</Wix>
