<?xml version="1.0"?>
<?define Version = $(Fw.Version) ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Fragment Id="FilesFragment">
		<Property  Id='FilesFragment' Value='1'/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" SourceName="Program Files">
				<Directory Id="PFSIL" Name="SIL">
					<Directory Id="INSTALLDIR" Name="FieldWorks $(var.MajorVersion)">
						<Directory Id="OLDDATAMIGRATIONDIR" Name="OldDataMigrationScripts">
						</Directory>
						<!-- The following component GUID is required by the master installer to locate and launch the migration utility: -->
						<Component Id="MigrateSqlDbs.exe" Guid="D25017CC-66F5-4BEE-B7BA-39BE8AE3698F">
							<File Id="MigrateSqlDbs.exe" Name="MigrateSqlDbs.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\Output\Release\MigrateSqlDbs.exe" />
						</Component>
						<!-- The following file has to have a firewall hole, several file associations and a URL protocol registered: -->
						<Component Id="FieldWorks.exe" Guid="95461FE1-FA63-4D76-B32B-89A478EDA5C6">
							<File Id="FieldWorks.exe" Name="FieldWorks.exe" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Assembly=".net" AssemblyApplication="FieldWorks.exe" AssemblyManifest="FieldWorks.exe">
								<fire:FirewallException Id="FieldWorks.exe" Name="FieldWorks" IgnoreFailure="yes" Scope="any"/>
							</File>
							<ProgId Id="FwBackupFile" Icon="FieldWorks.exe" Description="FieldWorks Backup">
								<Extension Id="fwbackup" >
									<Verb Id="open" Command="&amp;Restore" Argument="&quot;%1&quot;" TargetFile="FieldWorks.exe" />
								</Extension>
							</ProgId>
							<ProgId Id="FwDataFile" Icon="FieldWorks.exe" Description="FieldWorks Data File">
								<Extension Id="fwdata" >
									<Verb Id="open" Command="&amp;Open" Argument="&quot;%1&quot;" TargetFile="FieldWorks.exe" />
								</Extension>
							</ProgId>
							<RegistryValue Id="RegHyperLinksProtocol" Root="HKCR" Key="silfw" Name="URL Protocol" Value="" Type="string" />
							<RegistryValue Id="RegHyperLinksCmd" Root="HKCR" Key="silfw\shell\open\command" Type="string" Value='"[#FieldWorks.exe]" %1' />
							<RegistryValue Id="RegHyperLinksSilfw" Root="HKCR" Key="silfw" Type="string" Value="URL:SILFW Protocol" />
							<!-- These next two are added because otherwise they got left out, as "Output\Release\FieldWorks.exe" is a partial match in GenerateFilesSource: -->
							<File Id="FieldWorks.exe.manifest" Name="FieldWorks.exe.manifest" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe.manifest" ReadOnly="yes" Checksum="yes" DiskId="1"/>
							<File Id="FieldWorks.exe.config" Name="FieldWorks.exe.config" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe.config" ReadOnly="yes" Checksum="yes" DiskId="1"/>
						</Component>
						<Directory Id="AddOnInstallers" Name="Installers">
							<!-- The following component GUID is required by the master installer to locate and launch the FLEx Bridge installer: -->
							<Component Id="FLExBridgeInstaller.msi" Guid="9442BF43-4A64-4885-9593-43DD7E927290">
								<File Id="FLExBridgeInstaller.msi" Name="FLExBridgeInstaller.msi" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Installers\FLExBridgeInstaller.msi" />
							</Component>
							<Component Id="ChorusHubInstaller.msi" Guid="F06F46FC-4A57-44DC-BEAC-C498F8E77BA6">
								<File Id="ChorusHubInstaller.msi" Name="ChorusHubInstaller.msi" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Installers\ChorusHubInstaller.msi" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="AppDataSilFw" Name="FieldWorks">
						<Directory Id="PROJECTSDIR" Name="Projects">
							<Component Id="CreateProjectsFolder" Guid="B42972B9-B700-47b9-950E-56B1E35E8759">
								<CreateFolder>
									<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
								</CreateFolder>
							</Component>
						</Directory>
					</Directory>
					<Directory Id="AppDataSilIcu" Name="Icu50">
						<Component Id="CreateIcuFolder" Guid="DF251485-C17C-4185-8FA5-806436A423D2">
							<CreateFolder>
								<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="FontsFolder" SourceName="Fonts">
				<Component Id="Quivira.ttf" Guid="E4A47C8C-2B96-4186-97A8-B2AFC3150A9C">
					<File Id="Quivira.ttf" Name="Quivira.ttf" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Fonts\Raw\Quivira.ttf" TrueType="yes" />
				</Component>
			</Directory>
			<Directory Id="SystemFolder" SourceName="System32">
			</Directory>
			<Directory Id="CommonFilesFolder" Name="Common">
				<Directory Id="SIL" Name="SIL">
					<Component Id="vs_piaredist.exe" Guid="69E34503-AFF1-455d-8B02-38EC1EC156C2">
						<File Id="vs_piaredist.exe" Name="vs_piaredist.exe" ReadOnly="yes" Source="Builds\$(var.Version)\DistFiles\vs_piaredist.exe" DiskId="1"/>
					</Component>
					<!-- Place holder for some EC merge modules -->
				</Directory>
			</Directory>
		</Directory>

	</Fragment>
</Wix>
