<?xml version="1.0"?>
<?define Version = $(Fw.Version) ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Fragment Id="FilesFragment">
		<Property  Id='FilesFragment' Value='1'/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" SourceName="Program Files">
				<Directory Id="PFSIL" Name="SIL">
					<Directory Id="INSTALLDIR" Name="FieldWorks 8">
						<Directory Id="OLDDATAMIGRATIONDIR" Name="OldDataMigrationScripts">
						</Directory>
						<!-- The following component GUID is required by the master installer to locate and launch the migration utility: -->
						<Component Id="MigrateSqlDbs.exe" Guid="D25017CC-66F5-4BEE-B7BA-39BE8AE3698F">
							<File Id="MigrateSqlDbs.exe" Name="MigrateSqlDbs.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\Output\Release\MigrateSqlDbs.exe" />
						</Component>
						<!-- The following component GUID is required by the master installer to locate and launch the custom chars utility: -->
						<Component Id="UnicodeCharEditor.exe" Guid="7160FF24-F54B-4170-9C7A-CD58B2A64DD9">
							<File Id="UnicodeCharEditor.exe" Name="UnicodeCharEditor.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\Output\Release\UnicodeCharEditor.exe" />
						</Component>
						<!-- The following file has to be installed as a service and have a firewall hole: -->
						<Component Id="FwRemoteDatabaseConnectorService.exe" Guid="A3EB2B09-8600-4017-8B04-9DA7B5F2142A">
							<File Id="FwRemoteDatabaseConnectorService.exe" Name="FwRemoteDatabaseConnectorService.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\Output\Release\FwRemoteDatabaseConnectorService.exe">
								<fire:FirewallException Id="FwRemoteDatabaseConnectorService.exe" Name="FieldWorks Remote Database Connector Service" IgnoreFailure="yes" Scope="any"/>
							</File>
							<ServiceInstall Id="FwRemoteDatabaseConnectorService" Name="FwRemoteDatabaseConnectorService" DisplayName="FieldWorks Remote Database Connector Service" Type="ownProcess" Interactive="yes" Start="auto" ErrorControl="ignore" Description="Allows connection to local FieldWorks projects from other machines on the network." />
							<ServiceControl Id="FwRemoteDatabaseConnectorService" Name="FwRemoteDatabaseConnectorService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
						</Component>
						<!-- The following file has to have a firewall hole, several file associations and a URL protocol registered: -->
						<Component Id="FieldWorks.exe" Guid="95461FE1-FA63-4D76-B32B-89A478EDA5C6">
							<File Id="FieldWorks.exe" Name="FieldWorks.exe" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Assembly=".net" AssemblyApplication="FieldWorks.exe" AssemblyManifest="FieldWorks.exe">
								<fire:FirewallException Id="FieldWorks.exe" Name="FieldWorks" IgnoreFailure="yes" Scope="any"/>
							</File>
							<ProgId Id="FwBackupFile" Icon="FieldWorks.exe" Description="FieldWorks Backup">
								<Extension Id="fwbackup" >
									<Verb Id="open" Command="&amp;Restore" Argument="&quot;%1&quot;" TargetFile="FieldWorks.exe" />
								</Extension>
							</ProgId>
							<ProgId Id="FwDbFile" Icon="FieldWorks.exe" Description="FieldWorks DB File">
								<Extension Id="fwdb" >
									<Verb Id="open" Command="&amp;Open" Argument="&quot;%1&quot;" TargetFile="FieldWorks.exe" />
								</Extension>
							</ProgId>
							<ProgId Id="FwDataFile" Icon="FieldWorks.exe" Description="FieldWorks Data File">
								<Extension Id="fwdata" >
									<Verb Id="open" Command="&amp;Open" Argument="&quot;%1&quot;" TargetFile="FieldWorks.exe" />
								</Extension>
							</ProgId>
							<RegistryValue Id="RegHyperLinksProtocol" Root="HKCR" Key="silfw" Name="URL Protocol" Value="" Type="string" />
							<RegistryValue Id="RegHyperLinksCmd" Root="HKCR" Key="silfw\shell\open\command" Type="string" Value='"[#FieldWorks.exe]" %1' />
							<RegistryValue Id="RegHyperLinksSilfw" Root="HKCR" Key="silfw" Type="string" Value="URL:SILFW Protocol" />
							<!-- These next two are added because otherwise they got left out, as "Output\Release\FieldWorks.exe" is a partial match in GenerateFilesSource: -->
							<File Id="FieldWorks.exe.manifest" Name="FieldWorks.exe.manifest" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe.manifest" ReadOnly="yes" Checksum="yes" DiskId="1"/>
							<File Id="FieldWorks.exe.config" Name="FieldWorks.exe.config" Source="Builds\$(var.Version)\Output\Release\FieldWorks.exe.config" ReadOnly="yes" Checksum="yes" DiskId="1"/>
						</Component>
						<!-- This file is here because we need to actually run it during installation. See CustomAction Id="LaunchAppDataMover" below. -->
						<Component Id="EncConvertersAppDataMover40.exe" Guid="5819C8CA-9422-4c21-98F0-9C2D6F56E442">
							<File Id="EncConvertersAppDataMover40.exe" Name="EncConvertersAppDataMover40.exe" ReadOnly="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\Output\Release\EncConvertersAppDataMover40.exe"/>
						</Component>
						<Directory Id="AddOnInstallers" Name="Installers">
							<!-- The following component GUID is required by the master installer to locate and launch the FLEx Bridge installer: -->
							<Component Id="FLExBridgeInstaller.msi" Guid="9442BF43-4A64-4885-9593-43DD7E927290">
								<File Id="FLExBridgeInstaller.msi" Name="FLExBridgeInstaller.msi" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Installers\FLExBridgeInstaller.msi" />
							</Component>
							<Component Id="ChorusHubInstaller.msi" Guid="F06F46FC-4A57-44DC-BEAC-C498F8E77BA6">
								<File Id="ChorusHubInstaller.msi" Name="ChorusHubInstaller.msi" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Installers\ChorusHubInstaller.msi" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="AppDataSilFw" Name="FieldWorks">
						<Directory Id="PROJECTSDIR" Name="Projects">
							<Component Id="CreateProjectsFolder" Guid="B42972B9-B700-47b9-950E-56B1E35E8759">
								<CreateFolder>
									<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
								</CreateFolder>
							</Component>
						</Directory>
					</Directory>
					<Directory Id="AppDataSilIcu" Name="Icu50">
						<Component Id="CreateIcuFolder" Guid="DF251485-C17C-4185-8FA5-806436A423D2">
							<CreateFolder>
								<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="FontsFolder" SourceName="Fonts">
				<Component Id="Quivira.ttf" Guid="E4A47C8C-2B96-4186-97A8-B2AFC3150A9C">
					<File Id="Quivira.ttf" Name="Quivira.ttf" DiskId="1" Source="Builds\$(var.Version)\DistFiles\Fonts\Raw\Quivira.ttf" TrueType="yes" />
				</Component>
			</Directory>
			<Directory Id="SystemFolder" SourceName="System32">
			</Directory>
			<Directory Id="CommonFilesFolder" Name="Common">
				<Directory Id="SIL" Name="SIL">
					<Component Id="vs_piaredist.exe" Guid="69E34503-AFF1-455d-8B02-38EC1EC156C2">
						<File Id="vs_piaredist.exe" Name="vs_piaredist.exe" ReadOnly="yes" Source="Builds\$(var.Version)\DistFiles\vs_piaredist.exe" DiskId="1"/>
					</Component>
					<!-- Place holder for some EC merge modules -->
				</Directory>
			</Directory>
		</Directory>

		<!-- The following section launches the installed file EncConvertersAppDataMover40.exe but hides its DOS window -->
		<CustomAction Id="SetAppDataMoverData" Return="check" Property="LaunchAppDataMover" Value="[#EncConvertersAppDataMover40.exe]" />
		<CustomAction Id="LaunchAppDataMover" Return="ignore" Impersonate="no" Execute="deferred" Script="vbscript">
			<![CDATA[
dim EncConvertersAppDataMoverPath
EncConvertersAppDataMoverPath = Session.Property("CustomActionData")
const WindowStyleStealth  = &H20000000
set WSO = createobject("WScript.Shell")
WSO.run "%comspec% /c """ + EncConvertersAppDataMoverPath + """", WindowStyleStealth, false
]]>
		</CustomAction>

		<InstallExecuteSequence>
			<Custom Action="SetAppDataMoverData" Before="InstallInitialize"><![CDATA[VersionNT >= 501]]></Custom>
			<Custom Action="LaunchAppDataMover" After="PublishComponents"><![CDATA[NOT Installed]]></Custom>
		</InstallExecuteSequence>
	</Fragment>
</Wix>
