<?xml version="1.0"?>
<!--

IMPORTANT NOTE:

This file is not compiled directly when the installer is built. It is first
preprocessed into a file called ProcessedFiles.wxs, which is the file that gets
compiled.

Therefore, when making changes to this file, it is not sufficient to run
"WIX Installer Compile and Link.bat". You must first preprocess this file. This
can be done with ProcessFiles.exe. However, this will also preprocess
AutoFiles.wxs.

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment Id="FilesFragment">
		<Property  Id='FilesFragment' Value='1'/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" SourceName="Program Files">
				<Directory Id="PFSIL" Name="SIL">
					<Directory Id="INSTALLDIR" Name="FieldWorks 7">
						<Directory Id="OLDDATAMIGRATIONDIR" Name="OldDataMigrationScripts">
						</Directory>
						<!-- The following component GUID is required by the master istaller to locate and launch the migration utility: -->
						<Component Id="MigrateSqlDbs.exe" Guid="D25017CC-66F5-4BEE-B7BA-39BE8AE3698F">
							<File Id="MigrateSqlDbs.exe" Name="MigrateSqlDbs.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="2" Source="Output\${config}\MigrateSqlDbs.exe" />
						</Component>
						<!-- The following file has to be installed as a service: -->
						<Component Id="FwRemoteDatabaseConnectorService.exe" Guid="A3EB2B09-8600-4017-8B04-9DA7B5F2142A">
							<File Id="FwRemoteDatabaseConnectorService.exe" Name="FwRemoteDatabaseConnectorService.exe" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="2" Source="Output\${config}\FwRemoteDatabaseConnectorService.exe" />
							<ServiceInstall Id="FwRemoteDatabaseConnectorService" Name="FwRemoteDatabaseConnectorService" DisplayName="FieldWorks Remote Database Connector Service" Type="ownProcess" Interactive="yes" Start="auto" ErrorControl="ignore" Description="Allows connection to local FieldWorks projects from other machines on the network." />
							<ServiceControl Id="FwRemoteDatabaseConnectorService" Name="FwRemoteDatabaseConnectorService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
						</Component>
						<Component Id="EncConvertersAppDataMover40.exe" Guid="5819C8CA-9422-4c21-98F0-9C2D6F56E442">
							<File Id="EncConvertersAppDataMover40.exe" Name="EncConvertersAppDataMover40.exe" ReadOnly="yes" KeyPath="yes" DiskId="2" Source="Output\${config}\EncConvertersAppDataMover40.exe"/>
						</Component>
						<Directory Id="AddOnInstallers" Name="Installers">
							<!-- The following component GUID is required by the master istaller to locate and launch the FLEx Bridge installer: -->
							<Component Id="FLExBridgeInstaller.msi" Guid="9442BF43-4A64-4885-9593-43DD7E927290">
								<File Id="FLExBridgeInstaller.msi" Name="FLExBridgeInstaller.msi" ReadOnly="yes" Checksum="yes" KeyPath="yes" DiskId="2" Source="DistFiles\Installers\FLExBridgeInstaller.msi" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="AppDataSilFw" Name="FieldWorks 7">
						<Component Id="CreateFwFolder" Guid="8C7C6A6A-68E9-45ee-96F1-9C08E9F269F7">
							<CreateFolder>
								<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
							</CreateFolder>
						</Component>
						<Directory Id="PROJECTSDIR" Name="Projects">
							<Component Id="CreateProjectsFolder" Guid="B42972B9-B700-47b9-950E-56B1E35E8759">
								<CreateFolder>
									<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
								</CreateFolder>
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="FontsFolder" SourceName="Fonts">
				<Component Id="Quivira.ttf" Guid="E4A47C8C-2B96-4186-97A8-B2AFC3150A9C">
					<File Id="Quivira.ttf" Name="Quivira.ttf" DiskId="2" Source="DistFiles\Fonts\Raw\Quivira.ttf" TrueType="yes" />
				</Component>
			</Directory>
			<Directory Id="SystemFolder" SourceName="System32">
			</Directory>
			<Directory Id="CommonFilesFolder" Name="Common">
				<Directory Id="SIL" Name="SIL">
					<Component Id="vs_piaredist.exe" Guid="69E34503-AFF1-455d-8B02-38EC1EC156C2">
						<File Id="vs_piaredist.exe" Name="vs_piaredist.exe" ReadOnly="yes" Source="DistFiles\vs_piaredist.exe" DiskId="2"/>
					</Component>
					<!-- Place holder for some EC merge modules -->
				</Directory>
			</Directory>
			<Directory Id="MyParatextProjects" Name="MyParatextProjects">
				<Component Id="ParatextProjectsFolder" Permanent="yes" Guid="9E72BB0B-A61C-4b87-8DA5-C535F81EA386">
					<Condition><![CDATA[NOT SCR_CHECKS_REG_FOUND]]></Condition>
					<CreateFolder/>
				</Component>
			</Directory>
		</Directory>

		<!-- The following section launches the installed file EncConvertersAppDataMover40.exe but hides its DOS window -->
		<CustomAction Id="SetAppDataMoverData" Return="check" Property="LaunchAppDataMover" Value="[#EncConvertersAppDataMover40.exe]" />
		<CustomAction Id="LaunchAppDataMover" Return="ignore" Impersonate="no" Execute="deferred" Script="vbscript">
			<![CDATA[
dim EncConvertersAppDataMoverPath
EncConvertersAppDataMoverPath = Session.Property("CustomActionData")
const WindowStyleStealth  = &H20000000
set WSO = createobject("WScript.Shell")
WSO.run "%comspec% /c """ + EncConvertersAppDataMoverPath + """", WindowStyleStealth, false
]]>
		</CustomAction>

		<InstallExecuteSequence>
			<Custom Action="SetAppDataMoverData" Before="InstallInitialize"><![CDATA[VersionNT >= 501]]></Custom>
			<Custom Action="LaunchAppDataMover" After="PublishComponents"><![CDATA[NOT Installed]]></Custom>
		</InstallExecuteSequence>

		<Property Id="MyParatextProjects"><![CDATA[C:\My Paratext Projects]]></Property>
	</Fragment>
</Wix>
