<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="FWPerlEC" Guid="316FC7B9-2FB1-4c31-B794-EC273738131E" Language="1033" Version="4.0.0.0">
		<Package Id="????????-????-????-????-????????????" Keywords="SIL; Encoding Conversion; Perl EncConverter" Description="Perl EncConverter Merge Module -- for use in SILConverters" Comments="Perl EncConverter Plug-in details for use of Perl in Fieldworks 7" Manufacturer="SIL International" InstallerVersion="200" Platforms="Intel" Languages="1033" SummaryCodepage="1252" />

		<IgnoreModularization Name="INSTALLDIR" Type="Directory"/>

		<Directory Id="INSTALLDIR" Name="FieldWor" LongName="FieldWorks 7">
			<Directory Id="PerlECFolder" Name="EC">
				<Directory Id="PerlPluginsFolder" Name="Plugins">
					<Component Id="FWPerl_3.1.0.0_Plugin_Details.xml" Guid="F70C6679-329B-496a-8817-14FA04AD8976">
						<File Id="PerlEC510_3.1.0.0PluginDetails.xml" Name="PERLEC51" LongName="PerlEC510 3.1.0.0 Plugin Details.xml" Vital="yes" KeyPath="yes" Source="Lib\release\EC\Plugins\PerlEC510 3.1.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
