<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="FWPerlEC" Language="1033" Version="4.0.0.0">
		<Package Id="316FC7B9-2FB1-4c31-B794-EC273738131E" Keywords="SIL; Encoding Conversion; Perl EncConverter" Description="Perl EncConverter Merge Module -- for use in SILConverters" Comments="Perl EncConverter Plug-in details for use of Perl in Fieldworks 7" Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="PerlECFolder" Name="EC">
				<Directory Id="PerlPluginsFolder" Name="Plugins">
					<Component Id="FWPerlEC512_4.0.0.0_Plugin_Details.xml" Guid="517937AC-A624-421D-9C01-8822E1979772">
						<File Id="PerlEC512_4.0.0.0PluginDetails.xml" Name="PerlEC512 4.0.0.0 Plugin Details.xml" Vital="yes" KeyPath="yes" Source="Lib\windows\ECPlugins\PerlEC 4.0.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
