<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="FWPythonEC" Language="1033" Version="4.0.0.0">
		<Package Id="316FC7B9-2FB1-4c31-B794-EC273738131E" Keywords="SIL; Encoding Conversion; Python EncConverter" Description="Python EncConverter Merge Module -- for use in SILConverters" Comments="Python EncConverter Plug-in details for use of Python in Fieldworks 7" Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="PythonECFolder" Name="EC">
				<Directory Id="PythonPluginsFolder" Name="Plugins">
					<Component Id="FWPython_4.0.0.0_Plugin_Details.xml" Guid="32868A31-EC41-41E6-8ACC-DE8D085BC5A5">
						<File Id="PythonEC27_4.0.0.0PluginDetails.xml" Name="PythonEC27 4.0.0.0 Plugin Details.xml" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="Lib\windows\ECPlugins\PythonEC 4.0.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
