<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="MergeModulesFragment">
		<Property Id='MergeModulesFragment' Value='1'/>
		<DirectoryRef Id="SIL">
			<?if $(var.Platform) = x64 ?>
			<Merge Id="TECkit64_DLLs" Language="1033" SourceFile="externalencodingconverters\64bit\TECkitDLLsMM.msm" DiskId="1"/>
			<Merge Id="Set_Path_EC64" Language="1033" SourceFile="externalencodingconverters\64bit\SetPath.msm" DiskId="1"/>
		  <?else?>
			<Merge Id="TECkit_DLLs" Language="1033" SourceFile="externalencodingconverters\TECkitDLLsMM.msm" DiskId="1"/>
			<Merge Id="Set_Path_EC" Language="1033" SourceFile="externalencodingconverters\SetPath.msm" DiskId="1"/>
		  <?endif?>
			<Merge Id="ICUECHelp" Language="1033" SourceFile="externalencodingconverters\ICUECHelp.msm" DiskId="1"/>
		</DirectoryRef>
		<DirectoryRef Id="INSTALLDIR">
			<?if $(var.Platform) = x64 ?>
			<Merge Id="PerlEC" Language="1033" SourceFile="externalencodingconverters\PerlEcMM.msm" DiskId="1"/>
			<Merge Id="PythonEC" Language="1033" SourceFile="externalencodingconverters\PythonEcMM.msm" DiskId="1"/>
			<Merge Id="CC_DLL" Language="1033" SourceFile="externalencodingconverters\CcDLLsMM.msm" DiskId="1"/>
			<Merge Id="EncConverters_Common" Language="1033" SourceFile="externalencodingconverters\EC_40_MM.msm" DiskId="1"/>
		  <?else?>
			<Merge Id="PerlEC64" Language="1033" SourceFile="externalencodingconverters\64bit\PerlEcMM64.msm" DiskId="1"/>
			<Merge Id="PythonEC64" Language="1033" SourceFile="externalencodingconverters\64bit\PythonEcMM.msm" DiskId="1"/>
			<Merge Id="EncConverters_Common64" Language="1033" SourceFile="externalencodingconverters\64bit\EC_40_MM.msm" DiskId="1"/>
		  <?endif?>
		</DirectoryRef>
		<DirectoryRef Id="SystemFolder">
			<Merge Id="ATL" Language="1033" SourceFile="ExternalMergeModules\Microsoft_VC100_ATL_x86.msm" DiskId="1"/>
			<Merge Id="CRT" Language="1033" SourceFile="ExternalMergeModules\Microsoft_VC100_CRT_x86.msm" DiskId="1"/>
			<!-- The CRT90 merge module is needed only for the PythonEC (using Python 2.7) merge module: -->
			<Merge Id="CRT90" Language="1033" SourceFile="ExternalMergeModules\Microsoft_VC90_CRT_x86.msm" DiskId="1"/>
			<Merge Id="MFC" Language="1033" SourceFile="ExternalMergeModules\Microsoft_VC100_MFC_x86.msm" DiskId="1"/>
		</DirectoryRef>
	</Fragment>
</Wix>
