<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="SILPERL512" Language="1033" Version="3.1.0.0">
	<Package Id="1855F924-5ADC-43e0-8FFE-009FE75D1EA6" Keywords="Perl, Encoding Conversion, SILConverters" Description="Perl EncConverter merge module" Comments="Merge module containing the Perl EncConverter DLLs" Manufacturer="SIL" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Component Id="C_MSVCRT100PATH" Guid="2DF612AC-F467-461C-8467-1C8CC23845CD">
				<Environment Id="MSVCRT100PATH" Name="PATH" Action="set" System="yes" Part="first" Value="[CommonFilesFolder]SIL\EC_VS10.0.40219Libs" />
			</Component>
			<Component Id="PerlRemoveOldShortcuts" Guid="25D625F4-CA1E-447B-BACE-4218D3E4798A" KeyPath="yes">
		<RemoveFolder Id="PerlRemoveOldShortcuts1" Directory="PFSILConvertersFolder" On="uninstall" />
		<RemoveFolder Id="PerlRemoveOldShortcuts2" Directory="SILConvHelp" On="uninstall" />
	  </Component>
	  <Component Id="PerlRecentPerlExpr1" Guid="EBDD9161-C79F-417D-AF54-AF6B16F1899A">
				<RegistryKey Root="HKCU" Key="Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strInOut =~ s/[\[]^aeiou [\]]/C/g; $strInOut =~ s/[\[]aeiou[\]]/V/g;" Type="string" KeyPath="yes" Value="Convert all (English) vowels to V and consonants to C" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExpr2" Guid="8B8AF12A-9417-4489-9A0C-0245B6CE0D41">
				<RegistryKey Root="HKCU" Key="Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strOut = lc($strIn);" Type="string" KeyPath="yes" Value="Convert a string to lower case" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExpr3" Guid="A002D563-4097-4644-8167-8DB1D670408D">
				<RegistryKey Root="HKCU" Key="Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strOut = reverse($strIn);" Type="string" KeyPath="yes" Value="Reverse a string of characters" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExpr4" Guid="E4A12FFC-15A8-4C5B-8A4C-5B784DF3C459">
				<RegistryKey Root="HKCU" Key="Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strOut = uc($strIn);" Type="string" KeyPath="yes" Value="Convert a string to upper case" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExprHKUremove" Guid="D6BC4719-2D5D-48B3-8E5F-67AE892E1735">
				<RemoveRegistryKey Id="PerlRecentPerlExprHKUremove" Action="removeOnUninstall" Root="HKU" Key=".Default\Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression" />
	  </Component>
	  <Component Id="PerlRecentPerlExprHKU1" Guid="736CB738-BF38-4523-897E-D05B1C749F14">
				<RegistryKey Root="HKU" Key=".Default\Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strInOut =~ s/[\[]^aeiou [\]]/C/g; $strInOut =~ s/[\[]aeiou[\]]/V/g;" Type="string" KeyPath="yes" Value="Convert all (English) vowels to V and consonants to C" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExprHKU2" Guid="266D0FBC-706B-4B51-949C-64338E6520BE">
				<RegistryKey Root="HKU" Key=".Default\Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall" >
					<RegistryValue Name="$strOut = reverse($strIn);" Type="string" KeyPath="yes" Value="Reverse a string of characters" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExprHKU3" Guid="62C2242C-7C83-4F21-86C8-26ED82298451">
				<RegistryKey Root="HKU" Key=".Default\Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall" >
					<RegistryValue Name="$strOut = uc($strIn);" Type="string" KeyPath="yes" Value="Convert a string to upper case" />
				</RegistryKey>
	  </Component>
	  <Component Id="PerlRecentPerlExprHKU4" Guid="66035BA6-2F57-4310-81BD-38CECF14B6C0">
				<RegistryKey Root="HKU" Key=".Default\Software\SIL\SilEncConverters40\ConvertersSupported\SIL.PerlExpression\RecentlyUsed" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="$strOut = lc($strIn);" Type="string" KeyPath="yes" Value="Convert a string to lower case" />
				</RegistryKey>
	  </Component>
	  <Directory Id="CommonFilesFolder" Name="Common">
		<Directory Id="SIL" Name="SIL">
		  <Directory Id="MSVCRT100VersionsDir" Name="EC_VS10.0.40219Libs">
			<Component Id="C_MSVCRT100perl512.dll" Guid="3A3547A2-89B7-4037-9302-7F2E6E006DBC">
			  <File Id="MSVCRT100perl512.dll" Name="perl512.dll" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\perl512.dll"/>
			</Component>
			<Component Id="C_MSVCRT100PerlEC512.dll" Guid="1C6241ED-1949-4AD2-A191-9B4D1932DEC0">
			  <File Id="MSVCRT100PerlEC512.dll" Name="PerlEC512.dll" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="Output\Release\PerlEC512.dll"/>
			</Component>
			<Component Id="C_MSVCRT100PXPerlWrap.dll" Guid="DAC9DF9F-447B-4E90-B210-FBC57BE48A82">
			  <File Id="MSVCRT100PXPerlWrap.dll" Name="PXPerlWrap.dll" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\PXPerlWrap.dll"/>
			</Component>
			<Component Id="C_MSVCRT100PerlEC512.tlb" Guid="780984A4-5353-4179-BE5E-8ED162CE4C8A">
							<File Id="MSVCRT100PerlEC512.tlb" Name="PerlEC512.tlb" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="Output\Release\PerlEC512.tlb">
								<TypeLib Id="82391711-76EE-4266-8BC2-66615BAB2437" Language="0" MajorVersion="4" MinorVersion="0" Description="Perl IEncConverter implementation 4.0 Type Library" />
							</File>
			</Component>
		  </Directory>
		  <Directory Id="Help" Name="Help">
			<Component Id="PerlExpressionPluginAboutbox" Guid="8D58D219-4BE6-9EAE-AEBE-3C74F2D97146">
			  <File Id="PerlExpressionPluginAboutbox" Name="Perl Expression Plug-in About box.htm" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box.htm"/>
			</Component>
			<Directory Id="PerlExpressionPluginAboutboxFiles" Name="Perl Expression Plug-in About box_files">
			  <Component Id="PerlExpressionPluginAboutboxFilesfilelist.xml" Guid="D76BEB7D-0631-EC30-CCEA-D619D2D51589">
				<File Id="PerlExpressionPluginAboutboxFilesfilelist.xml" Name="filelist.xml" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\filelist.xml" />
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage003.png" Guid="64EBEC77-AD7F-739F-62AF-871FCF9E5794">
				<File Id="PerlExpressionPluginAboutboxFilesimage003.png" Name="image003.png" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image003.png"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage001.png" Guid="F617C4DC-9098-C24D-DB5E-6D9D9DFE82AF">
				<File Id="PerlExpressionPluginAboutboxFilesimage001.png" Name="image001.png" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image001.png"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage004.jpg" Guid="EE705524-0A03-8035-DAB9-C9598A33A533">
				<File Id="PerlExpressionPluginAboutboxFilesimage004.jpg" Name="image004.jpg" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image004.jpg"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesheader.htm" Guid="2E64AB91-42D1-DE29-B3EE-10C97C96A240">
				<File Id="PerlExpressionPluginAboutboxFilesheader.htm" Name="header.htm" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\header.htm"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage007.jpg" Guid="B589D24C-4370-E93F-6BA9-660721912A11">
				<File Id="PerlExpressionPluginAboutboxFilesimage007.jpg" Name="image007.jpg" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image007.jpg"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage005.png" Guid="FFACC7CC-CFD0-524F-C596-3BCD7291E14A">
				<File Id="PerlExpressionPluginAboutboxFilesimage005.png" Name="image005.png" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image005.png"/>
			  </Component>
			  <Component Id="PerlExpressionPluginAboutboxFilesimage006.jpg" Guid="3FCFC80F-73D3-86F0-9F30-9AFCA8C475C9">
				<File Id="PerlExpressionPluginAboutboxFilesimage006.jpg" Name="image006.jpg" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC Common\Help\Perl Expression Plug-in About box_files\image006.jpg"/>
			  </Component>
			</Directory>
		  </Directory>
		</Directory>
	  </Directory>
	  <Directory Id="ProgramMenuFolder" SourceName="User's Programs Menu">
		<Directory Id="PFSILConvertersFolder" Name="SIL Converters">
		  <Directory Id="SILConvHelp" Name="Help">
			<Component Id="HelpShortcuts" Guid="BD7147FF-EB93-447b-9310-A490E2F9ACD3" KeyPath="yes">
			  <Shortcut Id="PerlExpressionPluginHelp" Directory="SILConvHelp" Name="Help for Perl Expression Plug-in" Target="[#PerlExpressionPluginAboutbox]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
							<!-- The next item is junk to make validation pass on ICE18 -->
							<CreateFolder />
						</Component>
		  </Directory>
		</Directory>
	  </Directory>
	</Directory>
	<UI />
  </Module>
</Wix>