<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="SECPythonEC" Guid="1CD319CA-731C-4316-952F-2FDEAD7827E3" Language="1033" Version="4.0.0.0">
		<Package Id="????????-????-????-????-????????????" Keywords="SIL; Encoding Conversion; Python EncConverter" Description="Python EncConverter Merge Module -- for use in SILConverters" Comments="Python EncConverter Plug-in details for use of Python in SILConverters 4.0" Manufacturer="SIL International" InstallerVersion="200" Platforms="Intel" Languages="1033" SummaryCodepage="1252" />

		<IgnoreModularization Name="INSTALLDIR" Type="Directory"/>

		<Directory Id="INSTALLDIR" Name="SILConve" LongName="SILConverters">
			<Directory Id="PythonECFolder" Name="EC">
				<Directory Id="PythonPluginsFolder" Name="Plugins">
					<Component Id="SECPython_3.1.0.0_Plugin_Details.xml" Guid="9A2534C0-E4E9-4a72-85AE-35E1B2B8A252">
						<File Id="PythonEC25_3.1.0.0PluginDetails.xml" Name="PythonEC" LongName="PythonEC25 3.1.0.0 Plugin Details.xml" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="Lib\release\EC\Plugins\PythonEC25 3.1.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
