<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="SECPythonEC" Language="1033" Version="4.0.0.0">
		<Package Id="1CD319CA-731C-4316-952F-2FDEAD7827E3" Keywords="SIL; Encoding Conversion; Python EncConverter" Description="Python EncConverter Merge Module -- for use in SILConverters" Comments="Python EncConverter Plug-in details for use of Python in SILConverters 4.0" Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="PythonECFolder" Name="EC">
				<Directory Id="PythonPluginsFolder" Name="Plugins">
					<Component Id="SECPython_4.0.0.0_Plugin_Details.xml" Guid="0EDAF1ED-8252-4C58-A1AF-A969273A841C">
						<File Id="PythonEC27_4.0.0.0PluginDetails.xml" Name="PythonEC27 4.0.0.0 Plugin Details.xml" ReadOnly="yes" Vital="yes" KeyPath="yes" Source="Lib\release\EC\Plugins\PythonEC27 4.0.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
