<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="SECICU40" Guid="25D68386-DDF6-45ec-B3ED-C8F4AB0C287A" Language="1033" Version="4.0.0.0">
		<Package Id="????????-????-????-????-????????????" Keywords="SIL; Encoding Conversion; ICU Transliterators/Converters" Description="ICU 4.0 Merge Module -- for use in SILConverters" Comments="ICU Plug-in details for use of ICU in SILConverters 4.0" Manufacturer="SIL International" InstallerVersion="200" Platforms="Intel" Languages="1033" SummaryCodepage="1252" />

		<IgnoreModularization Name="INSTALLDIR" Type="Directory"/>

		<Directory Id="INSTALLDIR" Name="SILConve" LongName="SILConverters">
			<Directory Id="ICUECFolder" Name="EC">
				<Directory Id="ICUPluginsFolder" Name="Plugins">
					<Component Id="SECIcuEC40_3.1.0.0_Plugin_Details.xml" Guid="227FEB4A-16DE-4dd7-8905-71E7ED425418">
						<File Id="IcuEC40_3.1.0.0_Plugin_Details.xml" Name="IcuEC40a" LongName="IcuEC40 3.1.0.0 Plugin Details.xml" KeyPath="yes" Source="Lib\release\EC\Plugins\IcuEC40 3.1.0.0 Plugin Details.xml" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
