<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="SECPerlEC" Language="1033" Version="4.0.0.0">
		<Package Id="BDC70667-DE2C-4209-82DE-347AF3A77B77" Keywords="SIL; Encoding Conversion; Perl EncConverter" Description="Perl EncConverter Merge Module -- for use in SILConverters" Comments="Perl EncConverter Plug-in details for use of Perl in SILConverters 4.0" Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="PerlECFolder" Name="EC">
				<Directory Id="PerlPluginsFolder" Name="Plugins">
					<Component Id="SECPerlEC512_4.0.0.0_Plugin_Details.xml" Guid="ED5D4121-0744-4694-A077-355A29EF0C61">
						<File Id="PerlEC512_4.0.0.0PluginDetails.xml" Name="PerlEC512 4.0.0.0 Plugin Details.xml" Vital="yes" KeyPath="yes" Source="DistFiles\Windows\EC\EC\Plugins\PerlEC512 4.0.0.0 Plugin Details.xml"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
