<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="ShortcutsFragment">
	<Property  Id='ShortcutsFragment' Value='1'/>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="DesktopFolder" SourceName="Desktop">
				<Component Id="DeskShortcutFlex" Guid="AD6BD0ED-A730-4184-921F-E8FCEC0058FA">
					<Condition><![CDATA[SIL_DESKTOP_ICONS]]></Condition>
					<Shortcut Id="DeskShortcutFlex" Directory="DesktopFolder" Name="Language Explorer 7" Target="[#Flex.exe.FC28A9E5DCD6E8D3C3C2F909AF45C74A]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
					<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
					<CreateFolder />
					<RemoveFolder Id='RF_DeskShortcutFlex' On='uninstall' />
					<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='DeskShortcutFlex' Type='integer' Value='1' KeyPath='yes' />
				</Component>
				<Component Id="DelOldDeskShortcutFlex" Guid="8A6C8D0B-913E-48b6-ABF4-81CB4800E550">
					<RemoveFile Id="DelOldDeskShortcutFlex" Name="Language Explorer 4.lnk" On="install"/>
					<!-- The next 2 items are junk to make validation pass on ICE18 and ICE38. -->
					<CreateFolder/>
					<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='DelOldDeskShortcutFlex' Type='integer' Value='1' KeyPath='yes' />
				</Component>
				<Component Id="DeskShortcutTE" Guid="D6A665CC-9977-49f8-B390-23C9CFEB57AD">
					<Condition><![CDATA[SIL_DESKTOP_ICONS]]></Condition>
					<Shortcut Id="DeskShortcutTE" Directory="DesktopFolder" Name="Translation Editor 7" Target="[#TE.exe.F5642C6BE113D2E83EB790EFF901FBFB]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
					<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
					<CreateFolder />
					<RemoveFolder Id='RF_DeskShortcutTE' On='uninstall' />
					<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='DeskShortcutTE' Type='integer' Value='1' KeyPath='yes' />
				</Component>
				<Component Id="DelOldDeskShortcutTE" Guid="2DABC23F-293F-47ff-99A4-FB94B595A74C">
					<RemoveFile Id="DelOldDeskShortcutTE" Name="Translation Editor 4.lnk" On="install"/>
					<!-- The next 2 items are junk to make validation pass on ICE18 and ICE38. -->
					<CreateFolder/>
					<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='DelOldDeskShortcutTE' Type='integer' Value='1' KeyPath='yes' />
				</Component>
			</Directory>
			<Directory Id="StartMenuFolder" SourceName="Start Menu">
				<Directory Id="ProgramMenuFolder" SourceName="Programs">
					<Directory Id="FieldWorksMenu" Name="FieldWorks 7">
						<Component Id="ShortcutLicense" Guid="256EB594-CFA8-48c3-8B12-4D5A994936BB">
							<Shortcut Id="ShortcutLicense" Directory="FieldWorksMenu" Name="View the End User License Agreement" Target="[INSTALLDIR]License.rtf" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
							<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
							<CreateFolder />
							<RemoveFolder Id='RF_ShortcutLicense' On='uninstall' />
							<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutLicense' Type='integer' Value='1' KeyPath='yes' />
						</Component>
						<Component Id="ShortcutTechSupport" Guid="7F999EBF-E977-4c94-8FCC-96C07923173C">
							<Shortcut Id="ShortcutTechSupport" Directory="FieldWorksMenu" Name="Technical Support" Target="[INSTALLDIR]TechSupport.txt" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
							<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
							<CreateFolder />
							<RemoveFolder Id='RF_ShortcutTechSupport' On='uninstall' />
							<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTechSupport' Type='integer' Value='1' KeyPath='yes' />
						</Component>
						<Component Id="ShortcutReadMe" Guid="7DF69E51-D516-49dc-99E6-898AC1B4972B">
							<Shortcut Id="ShortcutReadMe" Directory="FieldWorksMenu" Name="View the ReadMe file" Target="[INSTALLDIR]ReadMe.rtf" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
							<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
							<CreateFolder />
							<RemoveFolder Id='RF_ShortcutReadMe' On='uninstall' />
							<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutReadMe' Type='integer' Value='1' KeyPath='yes' />
						</Component>
						<Component Id="ShortcutUnicodeCharEditor" Guid="B30B1806-DDF4-4a9d-A97F-99A56CD28BC3">
							<Shortcut Id="ShortcutUnicodeCharEditor" Directory="FieldWorksMenu" Name="Unicode Character Properties Editor" Target="[#UnicodeCharEditor.exe.ED2F0CDBF116745A2E1842A9C1FECEF0]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
							<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
							<CreateFolder />
							<RemoveFolder Id='RF_ShortcutUnicodeCharEditor' On='uninstall' />
							<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutUnicodeCharEditor' Type='integer' Value='1' KeyPath='yes' />
						</Component>
						<Directory Id="FlexMenu" Name="Language Explorer">
							<Directory Id="FlexTrainingMenu" Name="Training">
								<Component Id="ShortcutFlexManual" Guid="E6D70154-D056-4738-87BC-FEE1CE4FDAED">
									<Shortcut Id="ShortcutFlexManual" Directory="FlexTrainingMenu" Name="View the Language Explorer Student Manual" Target="[#Flex_Student_Manual.doc.853EBFD799DF0F74023D6BA98A787D45]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexManual' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexManual' Type='integer' Value='1' KeyPath='yes' />
								</Component>
								<Component Id="ShortcutFlexInstructorGuide" Guid="B1609944-E075-4533-A8D0-5ADD8ED2BA81">
									<Shortcut Id="ShortcutFlexInstructorGuide" Directory="FlexTrainingMenu" Name="View the Language Explorer Instructor Guide" Target="[#FLEx_Instructor_Guide.doc.5138028E8256D4CAA7F6C4B5493F8F20]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexInstructorGuide' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexInstructorGuide' Type='integer' Value='1' KeyPath='yes' />
								</Component>
								<Component Id="ShortcutFlexExercises" Guid="926BC031-5009-4eb7-B6EE-6E0BA17068B1">
									<Shortcut Id="ShortcutFlexExercises" Directory="FlexTrainingMenu" Name="View the Language Explorer Exercises" Target="[#FLEx_Exercises.doc.03F54E66D9E59098EB64B33D41901E7B]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexExercises' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexExercises' Type='integer' Value='1' KeyPath='yes' />
								</Component>
							</Directory>
							<Directory Id="FlexResourcesMenu" Name="Resources">
								<Component Id="ShortcutFlexIntroLex" Guid="E19EB45D-CFF1-4714-8A12-1ED3C7916F46">
									<Shortcut Id="ShortcutFlexIntroLex" Directory="FlexResourcesMenu" Name="View the Introduction to Lexicography" Target="[#Introduction_to_Lexicography.htm.5EA82790A021E7D4A2DDECB51F9B751D]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Lexicography_Introduction.A1E461DD1F9170DE2A4B5D0F7527E654" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexIntroLex' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexIntroLex' Type='integer' Value='1' KeyPath='yes' />
								</Component>
								<Component Id="ShortcutFlexImportSFMHelp" Guid="8712694F-D7C8-40c2-9D88-3E3C4FE0C78A">
									<Shortcut Id="ShortcutFlexImportSFMHelp" Directory="FlexResourcesMenu" Name="View Technical Notes on SFM Database Import" Target="[#Technical_Notes_on_SFM_Database_Import..BFAE3C4F2DEE7BBE028BE8D7F2926078]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexImportSFMHelp' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexImportSFMHelp' Type='integer' Value='1' KeyPath='yes' />
								</Component>
								<Component Id="ShortcutFlexImportHelp" Guid="C06A4A6B-11AD-4d99-82EF-700557699A6A">
									<Shortcut Id="ShortcutFlexImportHelp" Directory="FlexResourcesMenu" Name="View Technical Notes on LinguaLinks Database Import" Target="[#Technical_Notes_on_LinguaLinks_Database.11B11F6D547969681B3D88B1F464DF38]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexImportHelp' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexImportHelp' Type='integer' Value='1' KeyPath='yes' />
								</Component>
								<Component Id="ShortcutFlexWriSys" Guid="FD1C8028-FFDC-421b-A071-189C3E19F7E7">
									<Shortcut Id="ShortcutFlexWriSys" Directory="FlexResourcesMenu" Name="View Technical Notes on Writing Systems" Target="[#Technical_Notes_on_Writing_Systems.doc.491C47AFF66BB2C6F5310C38912A42E2]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.95624E6C665BDC113CF8B72804B8ECB0" />
									<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
									<CreateFolder />
									<RemoveFolder Id='RF_ShortcutFlexWriSys' On='uninstall' />
									<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexWriSys' Type='integer' Value='1' KeyPath='yes' />
								</Component>
							</Directory>
							<Component Id="ShortcutFlex" Guid="6886BE1B-7CC3-4e14-AE30-1056C7DB8E5E">
								<Shortcut Id="ShortcutFlex" Directory="FlexMenu" Name="Language Explorer" Target="[#Flex.exe.FC28A9E5DCD6E8D3C3C2F909AF45C74A]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutFlex' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlex' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutFLExReadMe" Guid="7FC1B8CF-3AD4-49e0-8985-F419B81BAEB7">
								<Shortcut Id="ShortcutFLExReadMe" Directory="FlexMenu" Name="View the Language Explorer ReadMe file" Target="[Language_Explorer.B71355FE0E5EE120A559B1F85C4634E1]FLExReadme.rtf" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Language_Explorer.B71355FE0E5EE120A559B1F85C4634E1" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutFLExReadMe' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFLExReadMe' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutFlexHelp" Guid="2978CA87-346B-4d45-ADEE-E55E8CF729C1">
								<Shortcut Id="ShortcutFlexHelp" Directory="FlexMenu" Name="Language Explorer Help" Target="[#FieldWorks_Language_Explorer_Help.chm.374D6604E98DD824DEEC00776D161628]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Helps.02B7932A250F90AC18E7695AC5B9577F" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutFlexHelp' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutFlexHelp' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutMorphIntro" Guid="F0BF838A-93BF-4105-90BC-B65A6BD1DCE8">
								<Shortcut Id="ShortcutMorphIntro" Directory="FlexMenu" Name="Morphology Introduction" Target="[#ConceptualIntroduction.htm.678CDB51FBC0EA1882DC3ECBC0A8FB44]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="WW_ConceptualIntro.1E5C402D9F6F905629753606CF68AB80" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutMorphIntro' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutMorphIntro' Type='integer' Value='1' KeyPath='yes' />
							</Component>
						</Directory>
						<Directory Id="TEMenu" Name="Translation Editor">
							<Component Id="ShortcutTE" Guid="8DC73582-DBAA-48a6-8C18-E91CA2D83792">
								<Shortcut Id="ShortcutTE" Directory="TEMenu" Name="Translation Editor" Target="[#TE.exe.F5642C6BE113D2E83EB790EFF901FBFB]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="INSTALLDIR" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutTE' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTE' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutTEReadMe" Guid="886BEBEB-7D1F-4427-A87F-A999ACFBFC73">
								<Shortcut Id="ShortcutTEReadme" Directory="TEMenu" Name="View the Translation Editor ReadMe file" Target="[Translation_Editor.D7F5CFBB12B316C9F4BFEDB355EEF99B]TEReadMe.rtf" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Translation_Editor.D7F5CFBB12B316C9F4BFEDB355EEF99B" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutTEReadme' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTEReadme' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutTEManual" Guid="8CB72BC1-2179-4ca2-8EC0-227D35B7068B">
								<Shortcut Id="ShortcutTEManual" Directory="TEMenu" Name="Translation Editor Student Manual" Target="[#TE_Student_Manual.doc.66B2E433AF2051AEAFB6E3E958468218]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Training.5986AE16BC0F1F5B5EC81DE119F0B21B" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutTEManual' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTEManual' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutTEHelp" Guid="FC2AB33D-7545-45bd-9760-CCE57F8852E4">
								<Shortcut Id="ShortcutTEHelp" Directory="TEMenu" Name="Translation Editor Help" Target="[#FieldWorks_Translation_Editor_Help.chm.580D94F47DD4C90CCD1505C6C512C95E]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Helps.02B7932A250F90AC18E7695AC5B9577F" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutTEHelp' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTEHelp' Type='integer' Value='1' KeyPath='yes' />
							</Component>
							<Component Id="ShortcutTEMovies" Guid="4E1620D4-B27F-4e85-8477-0DC45DF604C4">
								<Shortcut Id="ShortcutTEMovies" Directory="TEMenu" Name="Translation Editor Demos" Target="[#index.html.ECAA3DD532C3998F0F9477649743341D]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Demos.CBEB5F7BB09C3A579C563C71A9C14732" />
								<!-- The next 3 items are junk to make validation pass on ICE18, ICE38 and ICE43. -->
								<CreateFolder />
								<RemoveFolder Id='RF_ShortcutTEMovies' On='uninstall' />
								<RegistryValue Root='HKCU' Key='Software\SIL\FieldWorks\Installer' Name='ShortcutTEMovies' Type='integer' Value='1' KeyPath='yes' />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
