<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Module Id="EC40" Language="1033" Version="4.0.0.0">
		<Package Id="CA679A35-CA93-48f3-A25A-87793758D866" Keywords="SIL; Encoding Conversion; Transliteration; EncConverters" Description="EncConverter core 4.0 Merge Module -- Include in any client application deployment project which uses the EncConverters objects" Comments="Common installer module for SIL's version 4.0 of the EncConverter's core" Manufacturer="SIL International" InstallerVersion="200" Platform="x86" Languages="1033" SummaryCodepage="1252" />

		<Directory Id="TARGETDIR" Name="SourceDir">
	  <Component Id="RegisterECFolders" Guid="57C5A4F8-AAEA-47d1-B802-07950BC8B116">
				<RegistryKey Root="HKLM" Key="Software\SIL\SilEncConverters40" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="RootDir" Type="string" KeyPath="yes" Value="[CommonFilesFolder]SIL\"/>
				</RegistryKey>
			</Component>
	  <Directory Id="CommonFilesFolder" Name="Common">
				<Directory Id="CfSIL" Name="SIL">
		  <Component Id="ECDriver.dll" Guid="B888AEC2-8F56-4237-B5AC-9BFAC54A86B4">
			<File Id="ECDriver.dll" Name="ECDriver.dll" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\ECDriver.dll"/>
		  </Component>
					<Directory Id="Help" Name="Help">
						<Component Id="CCTableHelp" Guid="1A2209DA-3C80-47a1-A673-614B8AE2E694">
							<File Id="CCTableHelp" Name="CC Table Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\Help\CC Table Plug-in About box.mht"/>
						</Component>
			<Component Id="CPHelp" Guid="1C7AE6E2-8147-4062-87E2-2285E97345CA">
			  <File Id="CPHelp" Name="Code Page Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\Help\Code Page Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="CmpdHelp" Guid="0EB390F2-B7CE-40cb-8D1E-2EB43B196EB4">
			  <File Id="CmpdHelp" Name="Compound Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\Help\Compound Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="FallBackHelp" Guid="8C984ED5-779D-4b96-BBAB-E7A1F80B8588">
			  <File Id="FallBackHelp" Name="Fallback Converter Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\Help\Fallback Converter Plug-in About box.mht"/>
			</Component>
			<Component Id="TECkitHelp" Guid="3A81B42A-C4EA-4a27-9089-FE6F89E30F01">
							<File Id="TECkitHelp" Name="TECkit Map Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\DistFiles\Windows\EC Common\Help\TECkit Map Plug-in About box.mht"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
	  <!--This is still needed to open authentication for the repository file folder-->
			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="ECFolder" Name="EC">
						<Component Id="CreateEcFolder" Guid="9CFB2B50-4B79-4366-9034-2030623CD810">
							<CreateFolder>
								<util:PermissionEx User="AuthenticatedUser" GenericAll="yes" />
							</CreateFolder>
						</Component>
					</Directory>
		</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Program">
				<Directory Id="SIL_Converters" Name="SIL Converters">
		  <Directory Id="SILConvHelp" Name="Help">
						<Component Id="HelpShortcuts" Guid="0DC2E3A4-FCCA-4b3b-BBA2-FB28EB8D4FD1" KeyPath="yes">
							<Shortcut Id="CCTablePluginHelp" Directory="SILConvHelp" Name="CC Table Plug-in Help" Target="[#CCTableHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="CPPluginHelp" Directory="SILConvHelp" Name="Code Page Plug-in Help" Target="[#CPHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="CmpdPluginHelp" Directory="SILConvHelp" Name="Compound Converter Plug-in Help" Target="[#CmpdHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="FallbackPluginHelp" Directory="SILConvHelp" Name="Primary-Fallback Converter Plug-in Help" Target="[#FallBackHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
			  <Shortcut Id="TECkitPluginHelp" Directory="SILConvHelp" Name="TECkit Converter Plug-in Help" Target="[#TECkitHelp]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
							<!-- The next item is junk to make validation pass on ICE18 -->
							<CreateFolder />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
