<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--The following components are the help files for the ICU transducers' configuration dialog
			box and are maintained (mostly) by SEC. It is possible that these will want to retain the
			same GUIDs from version to version of ICU (since the help files likely won't change much),
			so they are being moved out of the main ICU merge module wix script. However, this merge
			module totally depends on that other merge module (id=SILICU40) or this won't do anything.
		  -->
<Module Id="SILICUECHELP50" Language="0" Version="5.0">
		<Package Id="3DAFE62A-D816-4d02-BDB5-8645ECE89BE4" Keywords="MergeModule, MSI, ICU EncConverters Help Files" Description="SIL's ICU 5.0 EncConverter Help Installation" Comments="Common installer module for SIL's ICU EncConverters Helps" Manufacturer="SIL International" InstallerVersion="110" Platform="x86" Languages="0" SummaryCodepage="1252"/>
	<Directory Id="TARGETDIR" Name="SourceDir">
		<?if $(var.Platform) = x64 ?>
		<Directory Id="CommonFiles64Folder" Name="Common">
			<?else ?>
			<Directory Id="CommonFilesFolder" Name="Common">
				<?endif ?>
				<Directory Id="SIL" Name="SIL">
					<Directory Id="Help" Name="Help">
						<Component Id="IcuRegex" Guid="786CA242-4204-46B7-86D5-93ED456710B5">
							<File Id="IcuRegex" Name="ICU Regular Expression Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Regular Expression Plug-in About box.mht"/>
						</Component>
						<Component Id="IcuTranslit" Guid="024219A1-29EB-4D20-BB9A-DB9E3C3F1743">
							<File Id="IcuTranslit" Name="ICU Transliterators Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Transliterators Plug-in About box.mht"/>
						</Component>
						<Component Id="ICU_Converters_Plugin_About_box.htm" Guid="963A2D88-6CFE-4C91-8830-CD6F8A3872E8">
							<!-- The following File ID has been truncated to suppress ICE03 string overflow in the shortcut that uses it -->
							<File Id="ICU_Converters_Plugin_About_box." Name="ICU Converters Plug-in About box.htm" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box.htm"/>
						</Component>
						<Directory Id="ICUConvPlug" Name="ICU Converters Plug-in About box_files">
							<Component Id="image008.jpg" Guid="C3970194-5CAF-44A9-B59E-F7AD6CF3F84D">
								<File Id="image008.jpg" Name="image008.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image008.jpg"/>
							</Component>
							<Component Id="image001.png" Guid="F166A049-8724-4EA5-80F0-12B55A48F4BF">
								<File Id="image001.png" Name="image001.png" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image001.png"/>
							</Component>
							<Component Id="image003.png" Guid="C2DA1740-EDCF-49E2-8E62-C07AB42C476B">
								<File Id="image003.png" Name="image003.png" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image003.png"/>
							</Component>
							<Component Id="image007.png" Guid="1C4C6530-7E4F-411E-BF80-F3AC653219A6">
								<File Id="image007.png" Name="image007.png" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image007.png"/>
							</Component>
							<Component Id="image002.jpg" Guid="448BEBF5-5EE0-4474-B92C-CD3B3B22442F">
								<File Id="image002.jpg" Name="image002.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image002.jpg"/>
							</Component>
							<Component Id="image004.jpg" Guid="DFF6B368-EF7B-405E-BC57-F25CA8D3B821">
								<File Id="image004.jpg" Name="image004.jpg" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\image004.jpg"/>
							</Component>
							<Component Id="filelist.xml" Guid="E6812F05-9BD4-4DBF-BD33-86E99A7B1A5E">
								<File Id="filelist.xml" Name="filelist.xml" ReadOnly="yes" KeyPath="yes" Source="..\..\..\DistFiles\Windows\EC Common\Help\ICU Converters Plug-in About box_files\filelist.xml"/>
							</Component>
						</Directory>
					</Directory>
					<!--End of ICU Help files-->
				</Directory>
				<?if $(var.Platform) = x64 ?>
				</Directory>
				<?else ?>
				</Directory>
				<?endif ?>

				<Directory Id="ProgramMenuFolder" Name="Program">
				<Directory Id="SIL_Converters" Name="SIL Converters">
					<Directory Id="SILConvHelp" Name="Help">
						<Component Id="HelpShortcuts" Guid="1EA5CB2D-D255-4CAD-8538-971E59BE87E6" KeyPath="yes">
							<Shortcut Id="ICUTranlitHelp" Directory="SILConvHelp" Name="ICU Transliterators Help" Target="[#IcuTranslit]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
							<Shortcut Id="ICUConvHelp" Directory="SILConvHelp" Name="ICU Converters Help" Target="[#ICU_Converters_Plugin_About_box.]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
							<Shortcut Id="ICURegexHelp" Directory="SILConvHelp" Name="ICU Regular Expression Help" Target="[#IcuRegex]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="Help"/>
							<!-- The next item is junk to make validation pass on ICE18 -->
							<CreateFolder />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
